<h1>HAPPENING IN YOUR AREA</h1>

  <div class="cards">
    <% @parties.each do |party| %>
    <div class="card mb-2">
      <%= link_to party_path(party) do %>
        <div class="card-picture">
          <%# /TODO: party photo attachment - remove this line %>
          <%# if party.photo.attached? %>
            <%# party.photo.key %>
          <%# end %>
        </div>
          <div class="card-description">
            <h2><%= party.name %></h2>
            <p><%= party.description %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
