
<div class="message-<%= message.id %>">
  <h5 id="message-text"><%= message.message %></h5>
  <div style="
            display: inline-flex;
            align-items: baseline;">
    <strong><%= message.user.username %></strong>
    <p class="ps-2"><%= message.created_at.strftime("%l:%M %p") %></p>

  </div>
</div>
