// Specific CSS for your home-page
body, html {
  height: 100%;
}

.banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto !important;
  padding: 0 !important;
  background-image: linear-gradient(rgba(0, 0, 0, 0.247),rgba(0, 0, 0, 0.2)), url("https://images.unsplash.com/photo-1541532713592-79a0317b6b77?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
  height: 100vh;

  .cup-text {
    margin: 0;
    position: relative;
    width: 70%;
    top: 35%;
    left: 13%;
  }
}

// .btn-hammered {
//   position: absolute;
//   background-color: rgba(233,69,96,1);
//   width: 75%;
//   height: 50px;
//   padding: 14px 28px;
//   border-radius: 4px;
//   box-shadow: 2px 2px 4px rgba(10,10,10,.2);
//   top: 80%;
//   left: 13%;
//   text-align: center;

//   a {
//     color: white;
//     text-decoration: none;
//   }
// }

.where-to-party {
  position: absolute;
  width: 75%;
  height: 50px;
  padding: 14px 28px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(10,10,10,.2);
  top: 72%;
  left: 13%;
}
