body {
  margin: 0 auto;
}

h2 {
  color: rgba(233,69,96,1);
}

a {
  text-decoration: none;
}

.user-settings {
  display: flex;
  flex-wrap: wrap;
}

.profile-pic {
  width: 390px;
  height: 390px;
  left: 0;
  top: 0;
  z-index: 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
  margin-bottom: 10px;
}

.bio-info {
  margin: 10px;


  .follow-btn {
    position: absolute;
    left: 80%;
    top: 63%;
  }

  .fa-heart {
    align-items: center;
    width: 50px;
    height: 50px;
    background: #E94560;
    border-radius: 4px;
    font-size: 24px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .unfollow-heart{
    width: 50px;
    height: 50px;
    border-radius: 4px;
    font-size: 23px;
    color: #d75151;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
  }

}

.profile-div {
  position: absolute;
}

.herz-button{
  border: none;
  padding: 0px;
}


.biofollow{
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-family: 'Syne';
    font-style: normal;
    font-size: 36px;
    color: #16213E;
  }
}

.user-name-email {
  width: 350px;
}


#bio-h2 {
  font-family: 'Syne';
  font-style: normal;
  font-size: 26px;
  color: #E94560;
  padding-bottom: 16px;
}


#bio-p {
  font-family: 'Inter';
  font-size: 16px;
  color: #16213E;

}
