<div class="user-settings">
  <h1><%=@user.username%>'s profile:</h1>
  <div class="profile-pic">


    </div>
  </div>
  <div style="margin-top: 25px; margin-bottom:25px ">
    <hr>
  </div>
  <div class="user-name-email">
    <p>Name: <%= @user.username %></p>
    <p>E-Mail: <%= @user.email %></p>
    <p>Info:</p>
  </div>
</div>
