<div class="" data-controller="alert">
  <% if notice %>
    <div data-alert-target="notice" class="w-25 alert alert-info alert-dismissible fade show m-1" role="alert">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <%= notice %>
    </div>
  <% end %>
  <% if alert %>
    <div class="w-25 alert alert-warning alert-dismissible fade show m-1" role="alert">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <%= alert %>
    </div>
  <% end %>
</div>
