<h1>JOIN THE PACK</h1>

<div class="row col-6">
  <input type="text" placeholder="Where do you want to party">
</div>


<div class="row col-6 mt-3 btn btn-success">
  <%= link_to "Let's get Hammered!", parties_path, class: "btn btn-primary" %>
</div>
