<div class="banner">
  <div>
    <%= image_tag "pre.png", class: "cup-text" %>
  </div>

  <div class="row form-container">
    <input type="text" class="where-to-party" placeholder="Where do you want to party?">
  </div>

  <div class="btn-hammered">
    <%= link_to "Let's get Hammered!", parties_path, class: "hammered-text" %>
  </div>
</div>
