.btn-join {
  background-color: rgba(233,69,96,1);
  width: 353px;
  height: 50px;
  padding: 14px 28px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(10,10,10,.2);
  text-align: center;
  color: white;
  font-family: 'Syne';

  a {
    color: white;
    text-decoration: none;
  }
}


.btn-static {
  background: #BBBBBB;
  width: 353px;
  height: 50px;
  padding: 14px 28px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(10,10,10,.2);
  text-align: center;
  color: white;
  font-family: 'Syne';

  a {
    color: white;
    text-decoration: none;
  }
}

.btn-destroy {
  background: #16213E;
  width: 353px;
  height: 50px;
  padding: 14px 28px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(10,10,10,.2);
  text-align: center;
  color: white;
  font-family: 'Syne';

  a {
    color: white;
    text-decoration: none;
  }
}

.btn-host {
  background: #16213E;
  width: 140px;
  height: 50px;
  padding: 14px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(10,10,10,.2);
  text-align: center;
  color: white;
  font-family: 'Syne';
  margin-right: 10px;

  a {
    color: white;
    text-decoration: none;
  }
}
