.btn-hammered {
  position: absolute;
  background-color: rgba(233,69,96,1);
  width: 75%;
  height: 50px;
  padding: 14px 28px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(10,10,10,.2);
  top: 80%;
  left: 13%;
  text-align: center;
  color: white;
  font-family: 'Syne';

  a {
    color: white;
    text-decoration: none;
  }
}
