.card-partay {
  display: flex;
  overflow: hidden;
  height: 92px;
  background: white;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.10));
  border-radius: 4px;
}

.card-description {
  padding: 16px

}

#name {
  font-family: 'Syne';
  font-style: normal;
  color: #E94560;
}

#username {
  font-family: 'Inter';
  font-style: bold;
  color: #16213E;
}
