.card-party {
  overflow: hidden;
  margin-top: -76px;
}

.card-party > img {
  height: 204px;
  width: 100%;
  object-fit: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.card-party h1 {
  font-size: 26px;
  font-weight: 600;
  font-family: 'Syne';
  color: #E94560;
  padding-bottom: 13px;
}

.card-party h2 {
  font-size: 16px;
  font-weight: lighter;

  color: #16213E;
}

.card-party p {
  font-family: 'Syne';
  font-weight: 400;
  font-size: 16px;

  color: #16213E;
}


.card-party .card-party-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  padding-top: 30px;
}

.card-party-infos .card-party-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 50px;
}
