.chatroom {
  background: white;
  margin-top: 9px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    margin-bottom: 0;
    padding: 1rem;
  }

  .input-chat {
    background-color: none !important;
    border: none !important;
    background: none !important;
  }

  .input-chat:focus {
    outline:none;
  }

  .messages {
    height: 504;
    overflow: scroll;
    padding: 16px;

    #message-text {
      padding-right: 10px;
      padding-top: 10px;
      font-family: 'Inter';
    }
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;
    box-shadow: 2px, 2px, 4px rgba(10,10,10,.2);

    .form-group {
      margin-bottom: 0;
    }
  }

  .asker-message {
    background: #E94560;
    box-shadow: 2px, 2px, 4px rgba(10,10,10,.2);
    border-radius: 20px 0px 20px 20px;
    text-align: right;
    justify-content: center;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
  }

  .answerer-message {
    background: #16213E;
    box-shadow: 2px, 2px, 4px rgba(10,10,10,.2);
    border-radius: 0px 20px 20px 20px;
    text-align: left;
    justify-content: center;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
  }
}

.message-box {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 13px 169px 13px 13px;
  gap: 10px;

  position: absolute;
  width: 354px;
  height: 50px;
  left: 18px;
  top: 716px;

  background: #FFFFFF;

  border: 1px solid #888888;
  box-shadow: 2px, 2px, 4px rgba(10,10,10,.2);
  border-radius: 4px;
}

#blue-margin {
  margin-top: -84px;
}

.btn-send {
  color: #E94560;
  background-color: white;
  border: none;
}
