.chatroom {
  background: white;
  margin-top: 9px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    margin-bottom: 0;
    padding: 16px;
  }

  .input-chat {
    background-color: none !important;
    border: none !important;
    background: none !important;
  }

  .input-chat:focus {
    outline: none !important;
  }

  .form-control {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
  }

  .form-control:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
  }

  .messages {
    overflow: scroll;
    padding: 16px;
    display: grid;


    #message-text {
      padding-right: 10px;
      padding-top: 10px;
      font-family: 'Inter';
    }
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;
    box-shadow: 2px, 2px, 4px rgba(10,10,10,.2);

    .form-group {
      margin-bottom: 0;
    }
  }


}

.message-box {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 13px 169px 13px 13px;
  gap: 10px;

  position: sticky;
  width: 354px;
  height: 50px;
  left: 18px;
  top: 716px;

  background: #FFFFFF;

  border: 1px solid #888888;
  box-shadow: 2px, 2px, 4px rgba(10,10,10,.2);
  border-radius: 4px;

}

#blue-margin {
  margin-top: -84px;
}


.btn-send {
  color: #E94560;
  background-color: white;
  border: none;
}

.blue-header {
  height: 204px;
  width: 390px;
  object-fit: cover;
  filter: drop-shadow(2px 2px 4px rgba(10, 10, 10, 0.2));

  background: #16213E;

  h1, p {
    color: white;
    margin: 10px;
  }

  h1 {
    margin-top: 95px;
    font-size: 29px;
    margin-bottom: 28px;
  }
}
