.container-iphone {
  position: relative;
  width: 390px;
  margin-top: -76px;
}

.happening {
  font-family: 'Syne';
  font-style: normal;
  font-size: 36px;
  padding-top: 80px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  color: #FFFFFF;
}
