.container-iphone {
  position: relative;
  width: 390px;
}

.happening {
  font-family: 'Syne';
  font-style: normal;
  font-size: 36px;
  line-height: 43px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  color: #FFFFFF;
  margin-top: 0;
  position: relative;
  top: 76px;
}

.title-inv {
  margin-top: 0px;
  margin-bottom: 75px;
}
