follow-btn {
  background: rgb(255, 0, 221);
  border: none;
  padding: 5px 10px;
  color: whitesmoke;
  width: 120px;
  border-radius: 4px;
  transition: all .3s ease-in;
}

follow-btn {
  outline: none;
}

follow-btn {
  outline: none;
}

.unfollow-btn {
  background: red;
  color: white;
  border-radius: 4px;
}
