.navbar-lewagon {
  justify-content: space-between;;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  height: 50px;
  left: 19px;
  top: 17px;
}
